<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org" >


<head>
<title>View Page</title>


<style>
#student_info{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#student_info td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#student_infotr:nth-child(even){background-color: #f2f2f2;}

#student_info tr:hover {background-color: #ddd;}

#student_info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>


</head>

<body>
<h1>Student List</h1>

<table id="student_info">
  <tr>
    <th>ID</th>
    <th>FIRST NAME</th>
    <th>LASTNAME</th>

  </tr>
 	 <tr>
		<td th:utext="${lists.id}"></td>
 	 	<td th:utext="${lists.firstname}"></td>
 	 	<td  th:utext="${lists.lastname}"></td>

</tr>

</table>

 <a href="/"> <input type="button" value="Back"></a>
 

</body>
</html>

                            		                            

